@import "../../style.scss";
.login{
    height: 100vh;
    background-color:rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        width: 50%;
        border-radius: 5px;
        background-color: #fff;
        min-height:600px;
        overflow: hidden;

        @include mobile{
            width: 100%;
            padding: 10px;
          
         }

         @include tablet{
            width: 100%;
            padding: 10px;
          
         }

         .left {
            flex:2;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content:center;
           
           .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{
                color: #555;
            }

            a {
                text-decoration: underline;
                color: #938eef;
                font-size: small;
                display: none;

                @include mobile{
                    display: block;
                }
                
                @include tablet{
                    display: block;
                }
            }
           }

            form{
                display: flex;
                flex-direction: column;
                gap:30px;

                input{
                    border:none;
                    border-bottom:1px solid lightgray;
                    padding: 20px 10px;
                }

                .loading {
                    color: lightblue;
                }

                .error {
                    color: red;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .right{
            flex:1;
            background: 
            linear-gradient(rgba(241, 231, 254), rgba(39, 11, 96, 0.5)),
             url(https://images.unsplash.com/photo-1607748862156-7c548e7e98f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyb3VwJTIwb2YlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)
             center
           ;
            background-size: contain;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;

            @include mobile{
                display: none;
            }
            
            @include tablet{
                display: none;
            }

            h1{
                font-size: 80px;
                line-height: 80px;
            }
           
            span{
                font-size: 14px;
            }
            button{            
                color:#938eef;
                background-color: #fff;
                padding: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;     
            }
        }

        
    }
}