@import "../../style.scss";

.register{
    height: 100vh;
    background-color:rgb(255, 244, 207);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        width: 50%;
        border-radius: 5px;
        background-color: #fff;
        min-height:600px;
        overflow: hidden;

        
        @include mobile{
           width: 100%;
           padding: 10px;
         
        }

        @include tablet{
            width: 100%;
            padding: 10px;
          
         }
        .left {
            flex:2;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content:center;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            h1{
                color: #555;
            }
            a {
                text-decoration: underline;
                color: rgb(255, 178, 0);
                font-size: small;
                display: none;

                @include mobile{
                    display: block;
                }
                
                @include tablet{
                    display: block;
                }
            }
        }
            form{
                display: flex;
                flex-direction: column;
                gap:30px;

                input{
                    border:none;
                    border-bottom:1px solid lightgray;
                    padding: 20px 10px;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: rgb(255, 203, 66);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .right{
            flex:1;
            background: 
            linear-gradient(rgb(255, 255, 159), rgba(255, 0, 0, 0)),
             url(https://images.unsplash.com/photo-1591035897819-f4bdf739f446?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
             center
           ;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;

            @include mobile{
                display: none;
            }
            

            h1{
                font-size: 80px;
                line-height: 80px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{            
                color:rgb(255, 178, 0);
                background-color: #fff;
                padding: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
             
            }
        }

      
    }
}