
@import "../../style.scss";

.create {
  @include themify($themes) {
    
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;

    .container {
      padding: 20px;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          flex: 4;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          input {
            border: none;
            outline: none;
            padding: 20px 10px;
            background-color: transparent;
            width: 100%;
            color: themed("textColor");
          }
        }
        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
 
          .image-container {
            width: 100px;
            height: 100px;
            position: relative;
          
            .file {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .delete-icon-container {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 0px;
              right: 0px;
              width: 22px;
              height: 22px;
              background-color: rgba(0,0,0,0.5);  
              border-radius: 50%;
              cursor: pointer;
              padding: 3px;
           
              &:hover {
                background-color: rgba(236, 236, 236);
              }

              svg {
                font-size:18px;
                color: #fff;
              }
            }
          }
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
              height: 20px;
            }

            span {
              font-size: 12px;
              color:#5271ff;
            }
          }
        }
        .right {
          button {
            border: none;
            padding: 10px;
            color: white;
            cursor: pointer;
            background-color: #5271ff;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
